<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyler.mockup"
    android:versionCode="6"
    android:versionName="0.0.4" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="16"
        android:targetSdkVersion="19"
        tools:ignore="OldTargetApi" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MockupTheme" >
        <activity
            android:name=".SimpleMockup"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kyler.mockup.activities.FirstRunDialogActivity"
            android:label="@string/mockup_blank"
            android:theme="@style/SimpleMockupDialog" >
        </activity>
        <activity
            android:name="com.kyler.mockup.activities.RequestByEmail"
            android:label="@string/request"
            android:parentActivityName="com.kyler.mockup.SimpleMockup"
            android:theme="@style/Theme.RequestByEmail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kyler.mockup.SimpleMockup" />
        </activity>
        
        <activity
            android:name="com.kyler.mockup.activities.About"
            android:label="@string/request"
            android:parentActivityName="com.kyler.mockup.SimpleMockup"
            android:theme="@style/Theme.About" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kyler.mockup.SimpleMockup" />
        </activity>   
        
        <activity
            android:name="com.kyler.mockup.activities.TranslucentExample"
            android:label="@string/request"
            android:parentActivityName="com.kyler.mockup.SimpleMockup"
            android:theme="@style/TranslucentExample" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kyler.mockup.SimpleMockup" />
        </activity>         
    </application>

</manifest>